
  <!-- Modal form -->
  <div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nueva categoría</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario -->
          <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <!-- Categoría -->
            <div class="form-group">
              <label for="category">Categoría <span class="color-red">*</span></label>
              <input type="text" class="form-control" formControlName="category" id="category" placeholder="Nombre de la categoría..." 
                [ngClass]="{'is-invalid': categoryForm.controls['category'].errors && submitted}">
              <div *ngIf="categoryForm.controls['category'].errors && submitted">
                <small class="color-red">Favor de ingresar una categoría válida</small>
              </div>
            </div>
            <!-- Código -->
            <div class="form-group">
              <label for="code">Código <span class="color-red">*</span></label>
              <input type="text" class="form-control" formControlName="code" id="code" placeholder="Código de la categoría..." 
                [ngClass]="{'is-invalid': categoryForm.controls['code'].errors && submitted}">
              <div *ngIf="categoryForm.controls['code'].errors && submitted">
                <small class="color-red">Favor de ingresar un código válido</small>
              </div>
            </div>
            <!-- Botones -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Guardar categoría</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
          
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="#"> Estudiante
                    <span class="visually-hidden"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Academico  </a>
                </li>
             
  
                <li class="nav-item">
                  <a class="nav-link" href="#">Aspirantes</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#">Directorio</a>
                </li>
   
              </ul>
              <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
          </div>
      </nav>
  
  <!-- Boton Nueva Categoria -->
  <div class="card">
    <div class="card-header">
              <button type="button" class="btn btn-primary btn-new" (click)="showModalForm()">
                <i class="ph ph-plus-circle"></i> Nueva categoria
            </button>
    </div>
  </div>



  <!-- Tabla -->

  <div class="card-body">
    <div class="container">
      <h5 class="table-title">Lista de Categorías</h5>
    </div>
      <table class="table table-hover table-bordered ">
          <thead>
              <tr class="table-primary">
                  <th>Category_id</th>
                  <th>Code</th>
                  <th>Category</th>
                  <th>Status</th>
                  <th>More</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let category of categories; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{category.code}} </td>
                  <td>{{category.category}}</td>
                  <td>
                      <div class="td-status"
                          [ngClass]="{'td-status-enable': category.status == 1, 'td-status-disable': category.status == 0}" >
                          {{ category.status == 0 ? "deactived" : "activated" }}
                      </div>
                  </td>
                  <!-- dropddown-->
                  <td>
                    <div class="dropdown">                          
                      <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">              
                        <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                      </button>
                      
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="updateCategory(category)">
                          <i class="ph ph-note-pencil icon-text-ul"></i>Edite 
                        </a>
                        <a *ngIf="category.status == 0" class="dropdown-item enable-item"
                          (click)="enableCategory(category.category_id)">
                          <i class="ph ph-check-circle icon-text-ul"></i> Active
                        </a>
                        <a *ngIf="category.status == 1" class="dropdown-item disable-item"
                          (click)="disableCategory(category.category_id)">
                          <i class="ph ph-x-circle icon-text-ul"></i> Deactive
                        </a>
                      </div>
                    </div>
                  </td>
              </tr>
          </tbody>
      </table>


      


          