
/* color de la navbar */
.navbar.bg-primary {
  background-color: #15bfaeed !important;
}

/* Tabla  */
.table-title{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 70px;
}

.td-status{
  position: absolute;
  width: 90px;
  text-align: center;
  border-radius: 8px;

  color: white;
}


/* COlores de status */
.td-status-enable {
    padding: 5px 6px;
    color: white;
    background-color: blue; 
    border-radius: 30px; 
    text-align: center;

  }

  
  .td-status-disable {
    padding: 5px 6px;
    color: white ; 
    background-color: red; 
    border-radius: 30px; 
    text-align: center;

  }


/* dropdown  */

.dropdown-button{
  border: none;
  background-color: white;
}

.dropdown-item{
  color: black !important;
  cursor: pointer;
}

.dropdown-item:hover{
  color: white !important;
}

.enable-item{
  color: blue !important;
  cursor: pointer;
}

.enable-item:hover{
  color: white !important;
}

.disable-item{
  color: red !important;
  cursor: pointer;
}

.disable-item:hover{
  color: white !important;
}

/* Boton de editar Categoria */
.card-header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100px; 

}
.btn-primary {
  background-color: #15bfaeed !important;
}


/* Título */
.table-title {
  position: static;
  transform: none;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
}





